In [1]:
import pandas as pd

In [2]:
house_price_data = pd.read_csv('house_price.csv')

In [3]:
house_price_data.head()

     location  bhk  area_sqft  years_old  floor     price
0  Whitefield    2       1250          5      5   8450000
1  Whitefield    2       1255          1      0   4100000
2  Whitefield    3       2750         10      1  10300000
3  Whitefield    2       1140          1      2   4100000
4  Whitefield    3       2750         10      1  10300000

In [4]:
house_price_data.shape

(133, 6)

In [8]:
X = house_price_data.loc[:,['bhk','area_sqft','years_old','floor']]
y = house_price_data.loc[:,'price']

In [9]:
X.head()

   bhk  area_sqft  years_old  floor
0    2       1250          5      5
1    2       1255          1      0
2    3       2750         10      1
3    2       1140          1      2
4    3       2750         10      1

In [12]:
y.head()

0     8450000
1     4100000
2    10300000
3     4100000
4    10300000
Name: price, dtype: int64

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=1)

In [16]:
print("X_train shape", X_train.shape)
print("X_test shape", X_test.shape)
print("y_train shape", y_train.shape)
print("y_test shape", y_test.shape)

X_train shape (99, 4)
X_test shape (34, 4)
y_train shape (99,)
y_test shape (34,)

In [17]:
from sklearn.linear_model import LinearRegression

In [18]:
model_lr = LinearRegression()

In [ ]:
model_lr.fit(X_train,y_train)

In [ ]:
y_predict= model_lr.predict(X_test)

In [3]:
from sklearn.metrics import  r2_score

In [ ]:
model_lr.predict([[3,1500,5,5]])

In [ ]:
r2_score(y_test,y_predict)