# Data Types

## There are eight kinds of types supported by PyTables:

- bool: Boolean (true/false) types. Supported precisions: 8 (default) bits.
- int: Signed integer types. Supported precisions: 8, 16, 32 (default) and 64 bits.
- uint: Unsigned integer types. Supported precisions: 8, 16, 32 (default) and 64 bits.
- float: Floating point types. Supported precisions: 16, 32, 64 (default) bits and extended precision floating point (see note on floating point types).
- complex: Complex number types. Supported precisions: 64 (32+32), 128 (64+64, default) bits and extended precision complex (see note on floating point types).
- string: Raw string types. Supported precisions: 8-bit positive multiples.
- time: Data/time types. Supported precisions: 32 and 64 (default) bits.
- enum: Enumerated types. Precision depends on base type.

In [6]:
a = "I am a Data Scientist"
type(a)

str

In [10]:
b = 5.9
int(b)

5

In [11]:
a = 3
b = 5.9
a+b

8.9

In [13]:
b = 3.9
c = False
b+c

3.9

In [23]:
d = '3'
d
a= 6
a+int(d)

9

In [4]:
a=3.5
b=5
print(type(a))
print(type(b))

<class 'float'>
<class 'int'>

In [9]:
int(a) +b

8

In [ ]:
bool(-10) * 3

In [8]:
z = False
a*z

0.0

In [10]:
a='I am a Data Scientist'
type(a)

str

In [12]:
a=3
b=5.2
c = 20/6
c = 5 * False

0

In [11]:
c = 20/6
c

3.3333333333333335

In [28]:
d = 'This is interesting'
e = 4
len(d)

19

In [ ]:
type(3)
type(4.0)

In [ ]:
print(type(2))  # returns 'int’ 
print(type(2.0)) # returns 'float’ 
print(type('two')) # returns 'str’ 
print(type(True)) # returns 'bool’ 
print(type(None)) # returns 'NoneType'

In [29]:
a=3.0
type(a)

float

In [30]:
a

3.0

In [36]:
import datetime as dt
from datetime import date

In [39]:
td= date.today()

In [40]:
type(td)

datetime.date

In [42]:
someday = dt.date(2018,7,15)
type(someday)

datetime.date

In [43]:
someday-td

datetime.timedelta(71)

In [24]:
today = dt.date.today()
today

datetime.date(2018, 4, 14)

In [22]:
from datetime import date
today = date.today()

In [25]:
from datetime import date
from datetime import datetime

today = date.today()
print(today)
print(datetime.now())

2018-04-14
2018-04-14 14:59:14.334871

datetime.timedelta(2855)

In [28]:
from datetime import date
day1 = date(2010, 6, 20)

datetime.timedelta(2855)

In [30]:
day100 = today + dt.timedelta(days=100)

In [32]:
day100.isoweekday()

1

In [53]:
import datetime as dt
day1 = date(2010, 6, 20)
print(day1)

newdate = day1 + dt.timedelta(hours=10,minutes=40)

2010-06-20

In [40]:

import datetime

otherday = day1 + datetime.timedelta(days=400)
print(otherday)

my_bday = date(1978, 6, 10)

print(date.today()-my_bday)

2011-07-25
14549 days, 0:00:00

In [ ]:
my_birthday = date(today.year, 6, 24)
my_birthday = my_birthday.replace(year=today.year + 1)
print(my_birthday)

time_to_birthday = abs(my_birthday - today)
print(time_to_birthday.days)

In [ ]:
print(date.today())
print(date.weekday(date.today()))
print(date.isoweekday(date.today()))
print(date.today())

In [ ]:
date.today()

# Math Operators

In [44]:
print(10 + 4) # add (returns 14) 
print(10 - 4) # subtract (returns 6) 
print(10 * 4) # multiply (returns 40) 
print(10**4) # exponent (returns 10000) 
print(10 / 4) # divide (returns 2.5) 
print(5 % 4) # modulo (returns 1) - also known as the remainder

14
6
40
10000
2.5
1

# Logical / Comparision Operators

In [45]:
# comparisons (these return True) 
print(5 > 3 )
print(5 >= 3)
print(5 != 5)
print(5 == 5) # boolean operations (these return True) 

# evaluation order: not, and, or

True
True
False
True

In [50]:
False and -2.0

False

In [46]:
print(5 > 3 and 6 < 3 )
print(5 > 3 or 5 < 3 )

False
True

In [45]:
5 >= 3 or 6 > 100

True

In [ ]:
180 and 18.9

# Conditional Statements

In [62]:
x=-100

if ((x>0) or (x==-100)):
    print("X is positive Value or -100")
    print("I am if loop")
elif (x<0):
    print("I am in else if block")
    print("X is negative")
else:
    print("X is Zero")
    
print("I am out of IF looP")

X is positive Value or -100
I am if loop
I am out of IF looP

In [56]:
x = 6

if x%2 == 0 :
    print(x, " is even number")
    print("hello..")
else :
    print(x, " is ODD number")

print("this is out of IF else block")

6  is even number
hello..
this is out of IF else block

In [54]:
x = -20
# if/elif/else statement
if x > 0:
    print('positive') 
    print('hello')
elif x == 0: 
    print('zero') 
else: 
    print('negative') 
print("I am out of IF block")

negative
I am out of IF block

In [55]:
# single-line if statement (sometimes discouraged) 
x=5
if x > 0: print('positive')

positive

# Lists
 Python lists are very flexible and can hold completely heterogeneous, arbitrary data, and they can be appended to very efficiently.

In [67]:
my_list = [3,4.0,True,[8,9,90],"data science"]
print(my_list)
type(my_list)

[3, 4.0, True, [8, 9, 90], 'data science']

list

In [71]:
my_list[4][2]

't'

In [85]:
myfamily = ['mom','dad','me']

In [86]:
myfamily.extend(['bro','sis','wife'])

In [87]:
myfamily.append('cousin')

In [89]:
myfamily.insert(2,"Grandfa")

In [92]:
myfamily.pop(2)

'Grandfa'

In [65]:
family.extend(['bro','uncle','aunt'])
family

['mom', 'dad', 'me', 'bro', 'uncle', 'aunt']

In [93]:
myfamily

['mom', 'dad', 'me', 'bro', 'sis', 'wife', 'cousin']

In [70]:
family.append('wife')
family

['mom', 'dad', 'me', 'bro', 'uncle', 'aunt', 'wife', 'wife', 'wife']

In [75]:
family.insert(4,"sis")
family

['mom', 'dad', 'me', 'bro', 'sis', 'uncle', 'aunt', 'wife']

In [76]:
family.pop(3)

'bro'

In [77]:
family

['mom', 'dad', 'me', 'sis', 'uncle', 'aunt', 'wife']

In [ ]:
## properties: ordered, iterable, mutable, can contain multiple data types       
# create an empty list (two ways) 
empty_list = [] 
empty_list = list() 
# create a list 
simpsons = ['homer', 'marge', 'bart']
# examine a list 
print(simpsons[0])        # print element 0 ('homer’) 
print(len(simpsons))    # returns the length (3)
 # modify a list (does not return the list) 
simpsons.append('lisa') # append element to end 
simpsons.extend(['itchy', 'scratchy'])  # append multiple elements to end 
print(simpsons)

In [ ]:
family.remove('me')

In [76]:
family.remove('me')

In [80]:
family.pop(2)

'aunt'

In [95]:
myfamily.sort()

In [96]:
myfamily

['bro', 'cousin', 'dad', 'me', 'mom', 'sis', 'wife']

In [ ]:
simpsons.insert(0, 'maggie')  # insert element at index 0 (shifts ˓→everything right) 
print(simpsons)
simpsons.remove('bart')  # searches for first instance and removes it 
print(simpsons)
simpsons.pop(0) # removes element 0 and returns it del
print(simpsons)
simpsons[0] = 'krusty' # replace element 0
print(simpsons)

# Tuples
A tuple is a sequence of immutable Python objects. Tuples are sequences, just like lists. The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets. Creating a tuple is as simple as putting different comma-separated values.

In [97]:
# create a tuple 
digits = (0, 1, 'two',0,1,1,1)  # create a tuple directly 
digits = tuple([0, 1, 'two'])  # create a tuple from a list 
# examine a tuple 
print(digits[2])  # returns ‘two’ 
print(len(digits)) # returns 3 
print(digits.count(0))  # counts the number of instances of that value (0) digits.index(1)  # returns the index of the first instance of that value (1) 

digits.

two
3
1

(0, 1, 'two')

In [84]:
# create a tuple 
digits1 = (0, 1, 'two',0,1,1,1)  # create a tuple directly 
# examine a tuple 
print(digits1.count(1))  # counts the number of instances of that value (0) digits.index(1)  # returns the index of the first instance of that value (1) 
len(digits1)

4

7

In [ ]:
digits[1]= 'one' #returns an assignment error

In [ ]:
my_tuple = (1,3.0,'works')
my_tuple
my_tuple2 = tuple(["this works too",8,10,True])
type(my_tuple2)

# Strings

In [ ]:
# create a string 
s = 'I like you' # examine a string 
s[0] # returns 'I’ 
len(s) # returns 10 
# string slicing like lists
s[:6] # returns 'I like’
s[7:] # returns 'you’
s[-1] # returns 'u'

In [105]:
s = 'I am a Data Scientist'
s[-9:]

'Scientist'

In [88]:
snew = 'Hello Data Science World'
snew[-5:-2]

'Wor'

In [94]:
s1[6:3]

''

# Dictionaries
Python dictionary is an unordered collection of items. While other compound data types have only value as an element, a dictionary has a key: value pair.

Dictionaries are optimized to retrieve values when the key is known.

In [114]:
# create an empty dictionary (two ways) 
empty_dict = {} 
empty_dict = dict() 
# create a dictionary (two ways) 
my_pro = {'name':'Ashok', 'job':'Data Scientist', 'location':"bangalore", "years_exp":17} 
my_dict = dict(name='Anand', age=30, job=['programmer','CEO','Data Scientist'], location="bangalore", years_Exp=17) 


my_dict['job']

['programmer', 'CEO', 'Data Scientist']

# Sets
A set contains an unordered collection of unique and immutable objects. The set data type is, as the name implies, a Python implementation of the sets as they are known from mathematics. This explains, why sets unlike lists or tuples can't have multiple occurrences of the same element.

In [115]:
# create an empty set
empty_set = set()
# create a set
lang = {'python', 'r', 'java'} # create a set directly 
snakes = set(['cobra', 'viper', 'python','viper']) # create a set from a list

In [116]:
snakes.union(lang)

{'cobra', 'java', 'python', 'r', 'viper'}

In [117]:
snakes.intersection(lang)

{'python'}

In [ ]:
# examine a set 

lang.intersection(snakes)

In [ ]:
languages.union(snakes)

In [ ]:
lang.

# Functions

In [128]:
def iseven(y,x=' '):
    if (x==' '):
        print("Please mention arg")
    elif (x%2==0):
        return True
    else:
        return False

In [133]:
iseven(7,6)

True

In [ ]:
# define a function with one argument and no return values 
def print_this(x): print(x) 

print_this(2)

# Loops

In [134]:
# alternative for loop (recommended style)
fruits = ['apple', 'banana', 'cherry','mango'] 

for x in fruits: 
	 print(x)

apple
banana
cherry
mango

In [135]:
for x in range(10):
    print(x," hello")

0  hello
1  hello
2  hello
3  hello
4  hello
5  hello
6  hello
7  hello
8  hello
9  hello