# One sample T-Test

In [1]:
ban_mar_age_it_male=[28,29,35,32,25,28,28,28,29,32,31]

# hypothesis setup
# H0 -> marriage age it bangalore is 32
# Ha -> marriage age it bangalore is NOT 32

In [28]:
from scipy import stats

In [4]:
stats.ttest_1samp(ban_mar_age_it_male,31)

Ttest_1sampResult(statistic=-1.7647535893556208, pvalue=0.10806797720296045)

# p value =10%, so we cannot reject H0

In [6]:
stats.ttest_1samp(ban_mar_age_it_male,32)

Ttest_1sampResult(statistic=-2.9780216820376113, pvalue=0.013854471169603129)

# P value =1.3%, so < 5%,so we reject Hnull and Accept Ha
# marriage age of it bangalore male is not 32

## Two sample T-Test

In [18]:
ban_mar_age_it_male=[28,29,35,32,25,28,28,28,29,32,31]
che_mar_age_it_male=[27,25,25,32,29,23,25,29,20,30,22]

## H0 ->Hnull -> Always euals sample
## H0 -> It male marriage age in bang and che are same
## Ha -> It male marriage age in bang and che are NOT same

In [19]:
stats.ttest_ind(ban_mar_age_it_male,che_mar_age_it_male)

Ttest_indResult(statistic=2.502383945754285, pvalue=0.021125717294468313)

# P value =2.2% ,<5%,we REJECT H0 Null,
## Means,Ban and Che it male marrigae ages are not SAME

## Two sample relational T-Test

In [20]:
before_red_bull=[36,32,28,23,27,23]
after_red_bull=[18,12,10,12,11,13]

# Setting Hypothesis

# H0 -> H null -> Res time before and after are same
## H alt -> Res time before and after are not same

In [22]:
stats.ttest_rel(before_red_bull,after_red_bull)

Ttest_relResult(statistic=9.290713926790614, pvalue=0.00024300064183316571)

# p =0, which means we reject H0,ie,REDBULL has Effect

# One Way Anova test(Analysis Of Variance)

In [24]:
lemon=[36,32,28,23,27,23]
coffee=[23,26,28,20,18,21]
redbull=[18,12,10,12,11,13]

# Setting Hypothesis
# H0 -> Res time of leamon,coffee,redbull are same
# Ha -> Res time of leamon,coffee,redbull are NOtsame

In [26]:
stats.f_oneway(lemon,coffee,redbull)

F_onewayResult(statistic=23.01242236024846, pvalue=2.687721839800863e-05)

# p =0,<5%,we reject NULL hypothesis,
## which means, drinks have significant effect of res time

# corelation

In [29]:
bmi=[23,24,25,26,27,28,29,30,31,32,33]
speed=[30,28,26,27,25,22,20,15,18,12,10]

In [ ]:
plt.scatter