In [57]:
import pandas as pd

In [58]:
cars = pd.read_csv('mtcars.csv')

In [59]:
cars.head(10)

,car_model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4

In [60]:
cars.shape

(32, 12)

In [61]:
# Feature Engineering
X = cars.loc[:,['hp','wt','am']]
y = cars.mpg

In [62]:
#Train and Test split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=7,)  # stratify=y

In [63]:
X_train.head(2)

     hp    wt  am
21  150  3.52   0
11  180  4.07   0

In [64]:
#Importing and Initiating Linear Regression Model
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [65]:
#Training model with data
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [66]:
#Model Evaluation -- predicint y for X_test
y_predict = model.predict(X_test)

In [67]:
y_predict

array([25.76360275, 26.48505735, 23.1544514 , 19.70700767, 16.45446341,
       20.27387456, 24.15341963,  9.02387216, 27.96958558, 27.15593581])

In [68]:
y_test

2     22.8
26    26.0
1     21.0
9     19.2
13    15.2
5     18.1
20    21.5
16    14.7
27    30.4
17    32.4
Name: mpg, dtype: float64

In [69]:
#Evaluation Model efficients with Test data
from sklearn.metrics import r2_score
r2_score(y_test,y_predict)

0.7088513453137024

In [70]:
from scipy import stats
stats.skew(cars.hp)

0.7614356361333623