In [153]:
import pandas as pd
import seaborn as sb
from scipy import stats

In [154]:
cars = pd.read_csv("mtcars.csv")

In [155]:
cars.shape

(32, 12)

In [156]:
#feature engineering
X=cars.loc[:,['hp','wt','am']]
y=cars.mpg

In [157]:
#train and test split
from sklearn.model_selection import train_test_split   #suffeling
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=15,)  #stratify=y

In [158]:
X_train.head(10)

     hp     wt  am
6   245  3.570   0
3   110  3.215   0
28  264  3.170   1
25   66  1.935   1
9   123  3.440   0
4   175  3.440   0
27  113  1.513   1
10  123  3.440   0
26   91  2.140   1
13  180  3.780   0

In [159]:
#importing and intilizing linear regre model
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [160]:
#training model with data
model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [161]:
#model Evaluation --predict y for X_test
y_predict =model.predict(X_test)

In [162]:
y_predict

array([21.96949085, 23.43101363, 15.9660504 ,  8.96197045, 10.20749752,
       30.36849227, 29.15735978, 24.04527409, 26.51192774, 24.39631093])

In [163]:
y_test

29    19.7
20    21.5
24    19.2
16    14.7
14    10.4
18    30.4
19    33.9
1     21.0
2     22.8
31    21.4
Name: mpg, dtype: float64

In [164]:
#Evaluation Model efficients with Test data
from sklearn.metrics import r2_score
r2_score(y_test,y_predict)

0.7412848566377204